---
layout: ""
page_title: "Provider: Alternator"
description: |-
  The alternator provider provides resources to manage SQL database schemas with [Alternator](https://github.com/kota65535/alternator).
---

# Alternator Provider

The alternator provider provides resources to manage SQL database schemas with [Alternator](https://github.com/kota65535/alternator).

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
